header{
  width: 100%;
  height: 5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--black-omni);
  font-family: rajdhani, sans-serif;
  border-bottom: 4px solid var(--purple);

  padding: 0 3rem 0 3rem;


  img{
    width: 3rem;
    height: 3rem;
  }

  nav{

    display: flex;
    align-items: center;
    justify-content: space-around;

    gap: 10rem;

    a{
      color: var(--white-ice);

      transition: color 2ms;
      font-weight: bold;
      font-size: 1.5rem;

      &:hover{
        color: var(--purple);
      }
    }

  }

}
