.container-fluid{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 5rem;

  img{
    width: 40%;
    height: 40rem;
  }
}

.content-container{
  align-items: center;
  justify-content: center;

  h1{
    font-size: 3rem;
    margin-bottom: 3rem;
    font-family: rajdhani, sans-serif;
    font-weight: bolder;
    padding-left: 3rem;
  }


  ul{
    list-style: none;
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 5rem;

    li{
      display: flex;
      flex-direction: column;
      align-items: center;
      font-weight: bolder;

      a{
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: color 2ms;

        &:hover{
          color: var(--purple);
        }

        img{
          margin-bottom: 0.5rem;
          width: 70px;
          height: 70px;
        }
      }
    }
  }
}
